<p style="color: green"><%= notice %></p>

<h1 class="text-center"><%= t('activerecord.attributes.index') %></h1>

<div id="movies">
  <% @movies.each do |movie| %>
    <%= render movie %>
    <p>
      <%= link_to t('activerecord.attributes.movie.buttons.show'), movie, class: "btn btn-primary btn-sm" %>
    </p>
  <% end %>
</div>

<div class="text-center mt-4">
  <%= link_to t('activerecord.attributes.movie.buttons.new'), new_movie_path, class: "btn btn-success btn-lg" %>
</div>
